@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

.texto__menor {
    font-size: 13px;
}

.div__facilidades {
    width: 325px;
}

.cor__verde {
    color: #daff01;
}

.cor__roxa {
    background-color: #9353ff;
}

.carousel-inner .item {
    transition: left 2s;
}